#bg1{
	background-color: #87509c;
	height: 600px;
	padding: 60px;
	margin: -10px;
}

.nav li {
	display: inline;
	float: right;
	padding: 10px;
	color: white; 
}

img{
	float: left;
}

h1{
	text-align: center;
	padding-top: 240px;
	color: #f7f3ea;


}
.clear {
	clear: both;
}

.link_work {
	height: 70px;
	width: 300px;
	background: #eb7d4b;
	

}